
html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* Animation */

@keyframes grow {
  from { 
    transform: scale(0.1); 
  }
  to { 
    transform: scale(1); 
  }
}

/* Container */

#container div {
  float: left;
  width: 6.25vw;
  height: 6.25vw;
  text-align: center;
  line-height: 6.25vw;
  color: #fff0;
  font-family: monospace;
  animation: grow 0.2s normal forwards ease-in-out;
}

#container div:hover {
  color: #fffc;
}

/* Actions */

.actions {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  padding: 12px;
}

.actions div {
  width: 20px;
  height: 20px;
  background: #fff9;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  margin: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.actions div:hover {
  background: #fff;
}

.actions div.plus {
  line-height: 19px;
}

.actions div.minus {
  line-height: 18px;
}